html {
  overflow: hidden;
}

#root {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 10px 20px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
}

iframe {
  border-width: 0;
}

.circle {
  opacity: 0.9;
}

.circle:hover {
  opacity: 1 !important;
}

.border {
  box-shadow:
          #5050509e 0 5px 8px 0,
          inset #fff 0 0 1px 4px,
          inset #5050509e 0 3px 6px 3px,
          inset #5050509e 0 -1px 6px 3px !important;
  opacity: 1 !important;
}

.button_mobile {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .button_mobile {
    display: block !important;
  }

  h3 {
    font-size: 2rem !important;
  }

  iframe {
    width: 100vw;
    height: 100vw;
  }

  canvas {
    width: 100vw;
    height: 100vw;
  }

  .decal {
    width: 84vw !important;;
  }

  .base {
    width: 50vw !important;;
  }

  .circle_container {
    width: 15vw !important;
    height: 15vw !important;
  }

  .circle {
    width: 15vw !important;
    height: 15vw !important;
  }

  .container_mobile {
    height: 100% !important;
  }

  .o {
    position: absolute !important;
    top: 100vw;
    left: 88vw;
    min-height: 0 !important;
    min-width: 0 !important;
    padding: 3px !important;
    background-color: #fff !important;
  }

  .o div {
    background-image: url("./buttons/ar.png");
    background-size: 50px;
    width: 50px;
    height: 84px;
    margin-bottom: 0 !important;
  }

  .o div span {
    display: none;
  }

  .button_desktop {
    display: none !important;
  }

  .base_mobile {
    margin-top: -35px !important;
  }
}

@media only screen and (min-width: 601px) {
  body {
    display: -webkit-inline-box;
  }
}